<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ metaDescription }}">
    {% if hr and lang != "hr" %}
      <link rel="alternate" hreflang="hr-HR" href="{{site.url}}{{ hr }}">
    {% endif %}
    {% if en and lang != "en" %}
      <link rel="alternate" hreflang="en" href="{{site.url}}{{ en }}">
    {% endif %}
    {% if no and lang != "no" %}
      <link rel="alternate" hreflang="nb-NO" href="{{site.url}}{{ no }}">
    {% endif %}
    {% if sr and lang != "sr" %}
      <link rel="alternate" hreflang="sr-RS" href="{{site.url}}{{ sr }}">
    {% endif %}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <script defer src="/_vercel/insights/script.js"></script>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="header-content">
          {% include "header.njk" %}
        </div>
      </header>
      <div class="container">
        <main>
          {{ content | safe }}
        </main>
      </div>
    {% include lang + "/footer.njk" %}

    </div>
  </body>
</html>