<footer class="footer">
    <div class="container flex">
        <div class="footer-column">
            <h3 class="footer-col-title">Lær vitenskaper</h3>
            <ul>
                <li><a href="#">Kjemi</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="footer-col-title">Kule Faktaene</h3>
            <ul>
                <li><a href="/nb/kule-fakta-fra-naturfag/hvorfor-er-himmelen-bla.html">Hvorfor er himmelen blå?</a></li>
                <li><a href="/nb/kule-fakta-fra-naturfag/rod-mane.html">Hvorfor ser månen noen ganger rød ut?</a></li>
                <li><a href="/nb/morsomme-fakta/hva-er-fargeblindhet.html">Hva er daltonisme – fargeblindhet?</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="footer-col-title">WLS</h3>
        </div>
    </div>
    <p>&copy; 2025 WLS - WeLearnScience</p>
</footer>