<footer class="footer">
    <div class="container flex">
        <div class="footer-column">
            <h3 class="footer-col-title">Learn Sciences</h3>
            <ul>
                <li><a href="/chemistry/what-is-chemistry.html">Chemistry</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="footer-col-title">Fun Facts</h3>
            <ul>
                <li><a href="/fun-science-facts/why-is-the-sky-blue.html">Why is the Sky Blue?</a></li>
                <li><a href="/fun-science-facts/why-is-the-moon-red.html">Why is the Moon Red?</a></li>
                <li><a href="/fun-science-facts/why-is-rainbow-always-same-colors.html"> Why does a rainbow always have the same colors in the same order?</a></li>
                <li><a href="/fun-science-facts/what-is-color-blindness.html">What is color blindness (daltonism)?</a></li>
                <li><a href="/fun-science-facts/snake-venom-as-medicine.html">How Snake Venom Helps Cure Diseases?</a></li>
                <li><a href="/fun-science-facts/why-are-plants-green.html">Why Are Plants Green?</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="footer-col-title">WLS</h3>
        </div>        
    </div>
     {% if attribution %}
        <div class="page-attribution">
            {{ attribution | safe }}
        </div>
    {% endif %}
    <p>&copy; 2025 WLS - WeLearnScience</p>
</footer>