<footer class="footer">
    <div class="container flex">
        <div class="footer-column">
            <h3 class="footer-col-title">Learn Sciences</h3>
            <ul>
                <li><a href="#">Chemistry</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="footer-col-title">Fun Facts</h3>
        </div>
        <div class="footer-column">
            <h3 class="footer-col-title">WLS</h3>
        </div>
    </div>
    <p>&copy; 2025 WLS - WeLearnScience</p>
</footer>