<footer class="footer">
    <div class="container flex">
        <div class="footer-column">
            <h3 class="footer-col-title">Učimo znanost</h3>
            <ul>
                <li><a href="#">Kemija</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="footer-col-title">Zanimljivosti iz znanosti</h3>
            <ul>
                <li><a href="/hr/znanstvene-zanimljivosti/zasto-je-nebo-plavo.html">Zašto je nebo plavo?</a></li>
                <li><a href="/hr/znanstvene-zanimljivosti/zasto-je-mjesec-nekada-crven.html">Zašto je mjesec nakada crven?</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="footer-col-title">WLS</h3>
        </div>
    </div>
    <p>&copy; 2025 WLS - WeLearnScience</p>
</footer>