<div class="lang-and-nav">
  <div class="languages">
    <ul>
      <li><a href="{{en}}">EN</a></li>
    </ul>
  </div>
  <div id="hamburger" class="hamburger" onclick="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav id="nav">
    <a href="/hr/kemija/sto-je-kemija.html">Što je kemija?</a>
    <a href="/hr/kemija/cestice-tvari.html">Čestice od kojih su sačinjene tvari</a>
    <a href="/hr/kemija/agregatna-stanja.html">Agregatna stanja</a>
    <a href="/hr/kemija/promjene-agregatnog-stanja.html">Promjene agregatnog stanja</a>
    <a href="/hr/kemija/fizicka-i-kemijska-svojstva-tvari.html">Fizička i kemijska svojstva tvari</a>
  </nav>
</div>