<div class="lang-and-nav">
  <div class="languages">
   <ul>
  {% if en %}
    <li><a href="{{ en }}" title="English">EN</a></li>
  {% endif %}
  {% if no %}
    <li><a href="{{ no }}" title="Norsk">NO</a></li>
  {% endif %}
</ul>
  </div>
  <div id="hamburger" class="hamburger" onclick="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav id="nav">
    <a href="/hr/kemija/sto-je-kemija.html">Što je kemija?</a>
    <a href="/hr/kemija/cestice-tvari.html">Čestice od kojih su sačinjene tvari</a>
    <a href="/hr/kemija/agregatna-stanja.html">Agregatna stanja</a>
    <a href="/hr/kemija/promjene-agregatnog-stanja.html">Promjene agregatnog stanja</a>
    <a href="/hr/kemija/fizikalna-i-kemijska-svojstva-tvari.html">Fizička i kemijska svojstva tvari</a>
  </nav>
</div>