<div class="lang-and-nav">
  <div class="languages">
    <ul>
      <li><a href="{{en}}">EN</a></li>
      <li><a href="{{hr}}">HR</a></li>
    </ul>
  </div>
<div id="hamburger" class="hamburger" onclick="toggleMenu()">
  <div class="hamburger-active-area">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<nav id="nav">
  <a href="/no/kjemi/hva-er-kjemi.html">Hva er kjemi?</a>
  <a href="/no/kjemi/partikler-i-stoff.html">De ørsmå partiklene som bygger opp alt</a>
  <a href="/no/kjemi/aggregattilstander.html">Aggregattilstander</a>
  <a href="/no/kjemi/tilstandsendringer.html">Endringer i aggregattilstand</a>
  <a href="/no/kjemi/fysiske-og-kjemiske-egenskaper.html">Fysiske og kjemiske egenskaper</a>
</nav>

</div>