<div id="hamburger" class="hamburger" onclick="toggleMenu()">
  <span></span>
  <span></span>
  <span></span>
</div>
<nav id="nav">
  <a href="/sr/hemija/sta-je-hemija.html">Šta je hemija?</a>
  <a href="/sr/hemija/cestice-supstance.html">Čestice od kojih su sačinjene supstance</a>
  <a href="/sr/hemija/agregatna-stanja.html">Agregatna stanja</a>
  <a href="/sr/hemija/promene-agregatnog-stanja.html">Promene agregatnog stanja</a>

</nav>
